# vim: expandtab:shiftwidth=4:ft=systemd
# SPDX-License-Identifier: GPL-3.0-only

# 
# 
# ~chewygumxx/systemd-override-gpg-socket.git
# ::: :/systemd-override-gpg-socket.service
# 
# 

#
# Adaptive GnuPG socket resolution for custom GNUPGHOME. Resolves hashed socket
# filepaths before socket initialisation. GNUPGHOME must be declared in advance,
# most conventionally from: ~/.config/environment.d/*.conf
#
# Must be enabled to precede gpg.
# Dependent upon executable: ~/.local/bin/systemd-override-gpg-socket
#

[Unit]
Description=Executes script to generate GnuPG socket overrides
ConditionEnvironment=GNUPGHOME
Before=dirmngr.socket keyboxd.socket gpg-agent.socket gpg-agent-ssh.socket gpg-agent-extra.socket gpg-agent-browser.socket
Wants=dirmngr.socket keyboxd.socket gpg-agent.socket gpg-agent-ssh.socket gpg-agent-extra.socket gpg-agent-browser.socket

[Service]
Type=oneshot
Environment=SYSTEMD_UNIT=%n
ExecStart=%h/.local/bin/systemd-override-gpg-socket
RemainAfterExit=yes

[Install]
WantedBy=default.target
